@import url(/css/base/fonts.css);
@import url(/css/base/nule.css);
@import url(/css/base/base.css);
.main__account {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 24px;
}
.main__account span {
  font-weight: 700;
}
.main__content {
  margin-top: 50px;
}
.main__exit {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #dfdfdf;
  color: black;
  border-bottom: 2px double rgba(0, 204, 255, 0);
  font-size: 18px;
  padding: 10px;
  margin-top: 15px;
  transition: 0.5s;
}
.main__exit:hover {
  background-color: rgba(158, 158, 158, 0.4745098039);
  border-bottom: 2px double #00ccff;
}
.main__info {
  width: 300px;
}