@import url(/css/base/fonts.css);
@import url(/css/base/nule.css);
@import url(/css/base/base.css);
.container {
  width: max-content;
  margin-top: calc(50vh - 131px);
}

.login__name {
  font-size: 24px;
}
.login__input {
  display: block;
  margin: 0 auto;
  width: 300px;
  margin-top: 5px;
}
.login__button {
  margin-top: 15px;
}
.login__register {
  display: flex;
  justify-content: start;
  margin-top: 4px;
}