@import url(/css/base/fonts.css);
@import url(/css/base/nule.css);
body {
  background-image: url(/img/);
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
  font-family: Squad, sans-serif;
  margin-top: 0px;
  color: black;
}

.container {
  width: 80%;
  max-width: 1150px;
  margin: 0 auto;
  margin-top: 25px;
  display: block;
}