@import url(/css/base/fonts.css);
@import url(/css/base/nule.css);
@import url(/css/base/base.css);
@import url(/css/base/header.css);
@import url(/css/base/footer.css);
.tabs__nav {
  background-color: #f0f0f0;
}
.tabs__holder {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.tabs__content {
  min-height: 90vh;
  height: min-content;
  background-color: #f3f3f3;
  border-radius: 1px;
  padding: 15px 20px;
}
.tabs__pane {
  display: none;
}
.tabs__pane_show {
  display: block;
}
.tabs__btn {
  background-color: #f0f0f0;
}
.tabs__btn_active {
  background-color: #bebebe;
}
.works__add {
  display: flex;
}
.works__information {
  display: block;
  margin-top: 20px;
}

.add__img {
  width: 200px;
  height: 200px;
}
.add__inputs {
  display: block;
  width: 100%;
  margin-top: 25px;
  margin-left: 20px;
}
.add__input {
  background-color: #d3d3d3;
}
.add__button {
  margin-top: 15px;
}

.information__img {
  width: 200px;
  height: 200px;
}
.information__info {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px 10px;
  margin-left: 50px;
}
.information__holder {
  display: flex;
}
.information__date {
  display: flex;
  color: #6b6b6b;
  font-size: 12px;
}
.information__head {
  display: flex;
  color: black;
  font-size: 24px;
  font-weight: 700;
  height: 100%;
  padding-left: 5px;
  margin-top: 10px;
}
.information__text {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  margin-top: 5px;
}